body {
	margin: 0;
	text-align: center;
	vertical-align: middle;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

table {
	border: 1px solid;
	border-spacing: 0;
	border-collapse: separate;
	table-layout: fixed;
	width: 100%;
}

td {
	border: 1px solid;
}

tr:nth-of-type(even) {
	background: white;
}

tr:nth-of-type(odd) {
	background: aliceblue;
}

.break-before {
	break-before: page;
}

@media screen and (orientation: landscape) {
	.font-size-small {
		font-size: 1.5vw;
	}

	.font-size-medium {
		font-size: 1.5vw;
	}
}

@media screen and (orientation: portrait) {
	.font-size-small {
		font-size: 2vw;
	}

	.font-size-medium {
		font-size: 3vw;
	}
}

.sticky {
	position: sticky;
	top: 0;
}
